.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
*~

bin/
obj/
out/

*.dll
*.exe
*.app
*.pdb
*.mdb
*.cache
*.dbmdl
*.dbml
*.snupkg
*.nupkg

.vs/
.idea/
.idea.*
*.sln.DotSettings.user
*.DotSettings.user
*.UserPrefs
*.suo
*.user
*.userosscache
*.sln.docstates
.vscode/
.ReSharper*/
*_ReSharper.Caches/
**/*.resharper
**/*_ReSharper*

secrets.json
appsettings.*.Local.json
appsettings.*.Secrets.json
.env
.env.*

docker-volume/
docker-compose.override.yml

TestResults/
*.coverage
coverage/
coverage*.json
*.trx
*.cobertura.xml
*.ncrunch*

.sonarqube/
.nuget/
